:root {
  --mainGreen: #2e8b57;
  --mainOrange: #ff8c00;
  --mainGrey: #a9a9a9;
  --mainWhite: #ffffff;
  --mainBlack: #222222;
}
body {
  background: var(--mainWhite);
  color: var(--mainBlack);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h1,
h3,
h4,
h5 {
  font-family: "Times New Roman", Times, serif !important;
  letter-spacing: 0.25rem !important;
}
.textOrange {
  color: var(--mainOrange);
}
.car-icon {
  cursor: pointer;
  color: var(--mainOrange);
  font-size: 2rem;
}
.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 157, 9, 0.5), rgba(255, 157, 9, 0.5));
  background-position: center;
  background-size: cover;
}
.btn-orange {
  color: var(--mainOrange);
  border-color: var(--mainOrange);
}
.btn-orange:hover {
  background: var(--mainOrange);
  color: var(--mainGreen);
}
.footer {
  background: var(--mainGreen);
}
